@charset "UTF-8";

* {
	color: #333;
	font-size: 20px;
}
.red {
	color: #f00;
	font-weight: bold;
}
.blue {
	color: #00f;
	font-weight: bold;
}
.blue-button {
	background-color: #fff;
	border: solid 2px #00f;
	transition: .2s ease-in;
}
.blue-button:hover {
	cursor: pointer;
	background-color: #00f;
	color: #fff;
}